<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
    <video autoplay muted loop id="myvid" src="/videos/bg vid.mp4" type="video/mp4"></video>
<div class="content">
      <!-- navbar start -->
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <nav class="collapse navbar-collapse" role="navigation" >
      <ul class="nav navbar-nav">
        
        <h1 style="font-size: 60px;">Library App</h1>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- navbar end -->

<div class="container"   id="footer">
  <div class="row">
    <div style="background-color: rgba(158, 7, 7, 0.479);border: 2px solid black; margin-top: 6%;padding: 2%;padding-top: 10px;" class="col col-sm-12 ">
      
      
      <div style="margin-left: 4%;" class="btn-group">
        <h3 style="color: white;font-size: 100px;font-size: 35px;margin-top: 5%;margin-bottom: 3%;">Welcome To The Digital Library</h3><img height="15%" width="18%" style="border-radius: 7%;float: right; margin-top: -8%;margin-right: 40%;border: 2px solid black;" src="/images/3.jpg" alt=""><br>
       
      <p style="color: white; font-size: 20px;margin-top: 5%;"> Reading could help you live longer. People who read books live for around two years longer than those who don't, irrespective of gender, wealth, education or health, according to a Yale University study. While a similar association was found among readers of newspapers, it was weaker</p>
     <br>
      <%for(i=0;i<links.length;i++){%>
        <a id="indexbut" class="btn  btn-lg" href="<%=links[i].link%>"><i class=" icon-large"></i> <%=links[i].name%></a>
        <%}%> 
  </div>
  
      
      
    </div>
  </div>
</div>


<!-- footer start -->
<footer id="fotcolor" style="margin-top: 7%;">
  <div class="container" >
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
</div>
<!-- footer end -->
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>